## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.brf
*.lol
logo_dcomp-eps-converted-to.pdf
logo_ufs-eps-converted-to.pdf
logo_procc-eps-converted-to.pdf
